In [1]:
import pandas as pd

In [2]:
storage_options = {
    "anon": False,
    "key": "minio",
    "secret": "minio123",
    "client_kwargs": {
        "endpoint_url": "http://localhost:9000",
    },
}

In [3]:
# Require s3fs
df = pd.read_csv(
    "s3://test/people.csv",
    storage_options=storage_options,
)
df

      name  age
0  Michael   31
1     Andy   30
2   Justin   19